html {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #333;
}
body {
   margin: 0;
   padding: 0;
   background-color: rgb(13, 25, 25);
}
.container {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
   overflow: hidden;
}

.formulario {
   display: flex;
   flex-direction: column;
   gap: 10px;
   background: #fff;
   padding: 20px;
   margin-top: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

h1 {
   text-align: center;
   color: #444;
}
p {
   line-height: 1.6;
}
a {
   color: #0066cc;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
button {
   background-color: #28a745;
   border-radius: 5px;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
}
button:hover {
   background-color: #218838;
}

.error-text {
   color: red;
   font-size: 12px;
}
