body {
   background-color: #000;
   color: #fff;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   margin-top: 100px;
}

p {
   font-size: 1.2rem;
}

.container {
   max-width: 600px;
   margin: 0 auto;
   border: 1px solid #fff;
   padding: 20px;
   border-radius: 10px;
   margin-top: 50px;
}

.relogio {
   font-size: 2rem;
   margin-bottom: 20px;
}

button {
   background-color: #fff;
   color: #000;
   padding: 10px 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.pausado {
   color: red;
}
