html {
   background-color: black;
   font-size: 2rem;
   color: #fff;
   font-family: monospace;
   text-align: center;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#container-relogio {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #75b8fa;
   padding: 30px 40px;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   color: black;
   font-weight: bold;
}
