@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
   --primary-color: rgb(20, 26, 27);
   --primary-color-darker: rgb(17, 24, 25);
}

* {
   box-sizing: border-box;
   outline: 0;
}

body {
   margin: 0;
   padding: 0;
   background: var(--primary-color);
   font-family: "Open sans", sans-serif;
   font-size: 1.3em;
   line-height: 1.5em;
}

.container {
   max-width: 640px;
   margin: 50px auto;
   background: #fcfafa;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   text-align: center;
}

.cpf-gerado {
   font-size: 2em;
   text-align: center;
   margin-bottom: 10px;
   letter-spacing: 3px;
}
