body {
   background-color: #333;
   color: #fff;
   text-align: center;
}

h1 {
   margin-top: 100px;
}

p {
   font-size: 1.2rem;
}

.container {
   max-width: 600px;
   margin: 0 auto;
   border: 1px solid #fff;
   padding: 20px;
   border-radius: 10px;
   margin-top: 50px;
}
